/* App.css */

body {
    margin: 0;
  }

  .topMenu{
    height: 50px;
  }

  .sideBar {
    width: 200px;
    height: 100%;
    background-color: gray;
  }

  .sceneDiv
  {
    width: 130vh;
  }
  
  .mainDiv {
    display: flex;
    flex-direction: row;
    height: 80vh;
  }
  
  
  .canvas-container {
    flex: 5; /* Take 5 portions of the space, making it larger than the sidebar */
    position: relative; /* Needed for Canvas to be positioned correctly */
  }
  